
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to bottom, #ff0080, #ff80bf);
}

h1, h2, h3 {
    color: #333;
}

button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}


#titlePage, #gamePage, #resultPage {
    display: none;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

@font-face {
    font-family: 'NeonFont';
    src: url('./STYLE/NeonFont.ttf') format('truetype');
}

.game-title {
    font-family: 'NeonFont', sans-serif;
    font-size: 70px;
    color: #8de41c;
}

#gamePage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#playerSection, #computerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 0 20px;
}

#playerSection {
    text-align: left;
}

#computerSection {
    align-items: flex-end;
    text-align: right;
}


#resultPage {
    background: linear-gradient(to bottom, #ff0080, #ff80bf);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 600px) {
    #gamePage {
        flex-direction: column;
    }

    #playerSection, #computerSection {
        text-align: center;
        margin: 20px 0;
    }
}

#diceContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#diceContainer img {
    width: 60px;
    height: 60px;
}

